/prototyp/.idea/
prototyp/__pycache__/ksiegowy.cpython-39.pyc
prototyp/__pycache__/nauczyciel.cpython-39.pyc
prototyp/__pycache__/ocena.cpython-39.pyc
prototyp/__pycache__/osoba.cpython-39.pyc
prototyp/__pycache__/planista.cpython-39.pyc
prototyp/__pycache__/pracownik.cpython-39.pyc
prototyp/__pycache__/rachunek.cpython-39.pyc
prototyp/__pycache__/uczen.cpython-39.pyc
prototyp/__pycache__/wplata.cpython-39.pyc
